<form (ngSubmit)="eliminar()" class="max-w-sm mx-auto">
    <input
      type="text"
      id="disabled-input"
      aria-label="disabled input"
      class="mb-5 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      value="Disabled input"
      disabled
      name="matricula" [(ngModel)]="regAlumno.matricula"
   
    />
    <input
      type="text"
      id="disabled-input-2"
      aria-label="disabled input 2"
      class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      value="Disabled readonly input"
      disabled
      name="nombre" [(ngModel)]="regAlumno.nombre"
    />
    <input
      type="text"
      id="disabled-input-2"
      aria-label="disabled input 2"
      class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      value="Disabled readonly input"
      disabled
      name="apaterno" [(ngModel)]="regAlumno.apaterno"
    />
    <input
      type="text"
      id="disabled-input-2"
      aria-label="disabled input 2"
      class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      value="Disabled readonly input"
      disabled
      name="amaterno" [(ngModel)]="regAlumno.amaterno"
    />
    <input
      type="text"
      id="disabled-input-2"
      aria-label="disabled input 2"
      class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      value="Disabled readonly input"
      disabled
      name="correo" [(ngModel)]="regAlumno.correo"
    />
    <button
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    [routerLink]="['/utl/listaalumnos']"
  >
    Cancelar
  </button>
   
  <button mat-flat-button color="primary" type="submit">
    Eliminar</button>
  </form>
